@tailwind base;
@layer base {
  body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
}
@tailwind components;
@layer components {
  .p-link {
    @apply text-lg font-normal text-secondary;
  }
  .btn {
    @apply flex items-center justify-center rounded-md px-4 py-2 text-lg transition-opacity hover:opacity-80 active:opacity-0;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .title {
    @apply text-2xl font-bold text-heading;
  }
  .image {
    @apply bg-no-repeat object-cover object-center;
  }
}
@tailwind utilities;
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 20px;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #807d7e;
    border-radius: 20px;
  }

  /* Handle on hover */
}
